<!DOCTYPE html>
<div class="col-md-8 col-md-offset-4 loginA">
  <a href="#" data-toggle="modal" data-target="#login-modal" class="login">Login to Rinks</a>
</div>


<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>Login to Your Account</h2><br>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" id="username">
        <input type="password" name="password" id ="password" placeholder="Password">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        <div class="login-help">
          <a href="/registerPage" data-toggle="modal" data-target="#login-modal">Register</a>
        </div>
      </form>


    </div>
  </div>
</div>
<!-- <nav class="navbar navbar-default">
<div class="container">
<ul class="nav navbar-nav">
<li>
<a href="/home">Home</a>
</li>
<li>
<a href="/rinkInfo">Rink Information</a>
</li>
<li>
<a href="/newReviews">Post a Review</a>
</li>
<li>
<a href="/registerPage">Register Here</a>
</li>

</ul>
</div>
</nav> -->


<div class="row main well" >

  <div class="col-md-8 col-md-offset-2">
    <h2>Find more info on your favorite MN ice arena</h2>
    <img src="http://winsol.com/arena.jpg" class="img-circle img-responsive" />
    <p>
      Rinks is a great source of information ice arenas in the state of MN.
      Here you can find location, concession information, reviews and even a rating on
      how cold it is for spectators.
    </p>
  </div>
</div>
